
:root {

    /* colors */
    --main_bg_color: black;
    --secondary_bg_color: darkblue;
    --third_bg_color: darkgrey;
    --main_text_color: white;
    --main_border_color: aqua;





    /* fixed distances */
    --nav_bar_height: 40px;
    --menu_item_padding: 10px;
    --tabs_bar_height: 25px;
    --tab_button_padding: 10px;
    --main_border_width: 2px;

    /* tabs */
    --unselected_tab_color: var(--main_bg_color);
    --selected_tab_color: var(--secondary_bg_color);
    --tabs_text_color: var(--main_text_color);

    /* mobile */
    --mobile_tabs_height: 35%;
    --mobile_file_selection_width: 30%;

}

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#main_box {
    width: 100%;
    height: 100%;
    display: grid;
}

#file_selection {
    grid-area: file_selection;
    background-color: var(--secondary_bg_color);
    border: 2px solid var(--main_border_color);
    color: var(--main_text_color);
}

#program_code {
    grid-area: program_code;
    background-color: var(--main_bg_color);
    color: var(--main_text_color);
    border: 2px solid var(--main_border_color);
}

#code_part {
    grid-area: code_part;
    background-color: var(--main_bg_color);
    color: var(--main_text_color);
    border: 2px solid var(--main_border_color);
}

#nav_bar {
    grid-area: nav_bar;
    display: flex;
    flex-direction: row;
    background-color: var(--main_bg_color);
    color: var(--main_text_color);
}




.menu_item:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    #main_box {
        grid-template-rows: var(--nav_bar_height) 2fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
            "nav_bar"
            "program_code"
            "code_part";
    }

    #file_selection {
        position: absolute;
        visibility: hidden;
        top: var(--nav_bar_height);
        left: 0;
        height: calc(100% - var(--nav_bar_height));
        width: 30%;
    }

    #tabs_wrapper {
        position: absolute;
        visibility: hidden;
        bottom: 0;
        width: 100%;
        height: var(--mobile_tabs_height);
    }

    #tabs_opener {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #tabs_closer {
        position: absolute;
        bottom: var(--mobile_tabs_height);
        right: 0;
        visibility: hidden;
    }


    .toggle_button:hover {
        cursor: pointer;
    }

    .nav_bar_toggle_button {
        height: var(--nav_bar_height);
        line-height: var(--nav_bar_height);
        padding-left: var(--menu_item_padding);
        padding-right: var(--menu_item_padding);
    }

    #menu_opener {
        display: block;
    }

    #menu_closer {
        display: none;
    }

    #file_selection_opener {
        display: block;
    }

    #file_selection_opener img {
        height: var(--nav_bar_height);
        display: block;
    }


    #file_selection_closer {
        display: none;
        background-color: var(--secondary_bg_color);
    }

    #menu {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        border: 2px solid var(--main_border_color);
    }

    .menu_item {
        display: block;
        padding: var(--menu_item_padding);
        text-align: center;
    }



}




@media only screen and (min-width: 601px) {

    #main_box {
        grid-template-columns: 2fr 5fr 3fr;
        grid-template-rows: var(--nav_bar_height) 4fr 1fr;
        grid-template-areas:
            "nav_bar nav_bar nav_bar"
            "file_selection program_code code_part"
            "file_selection tabs tabs";
    }

    #tabs_wrapper {
        grid-area: tabs;
    }


    .toggle_button {
        display: none;
    }

    .menu_item {
        display: inline-block;
        height: var(--nav_bar_height);
        line-height: var(--nav_bar_height);
        padding-left: var(--menu_item_padding);
        padding-right: var(--menu_item_padding);
        text-align: center;
        vertical-align: middle;
    }

}





/*
.has_main_style {

    border-color: var(--main_border_color);
    background-color: var(--main_bg_color);
    color: var(--main_text_color);

}

*/









.file_system_item {
    margin-left: 20px;

}