#tabs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--tabs_bar_height) auto;
    border: 2px solid var(--main_border_color);
    color: var(--tabs_text_color);
}

#tabs_bar {
    height: var(--tabs_bar_height);
    width: 100%;
    background-color: var(--unselected_tab_color);
}

#tabs_content {
    width: 100%;
}

.tab_button {
    height: var(--tabs_bar_height);
    line-height: var(--tabs_bar_height);
    display: inline-block;
    padding-left: var(--tab_button_padding);
    padding-right: var(--tab_button_padding);
    vertical-align: middle;
    background-color: var(--unselected_tab_color);
}

.tab_button:hover {
    cursor: pointer;
}

.tab_content {
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--selected_tab_color);
}


