{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <link rel="stylesheet" href = {% static "compilation_8bit/login_style.css" %} >

</head>
<body>

<h1 id = "title"> Compilation 8bit </h1>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}


{% if next %}
    <p>Please login to see this page.</p>
{% endif %}

<div id = "main_container">
    <form id = "login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

</body>
</html>


