{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="{% static 'compilation_8bit/favicon.ico' %}"/>

    <link rel="stylesheet" href = {% static "compilation_8bit/main_style.css" %} >
    <link rel="stylesheet" href = {% static "compilation_8bit/tabs_style.css" %} >


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

        // Code to get csrf token took from djangoproject.com
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');


        const get_file_system_url = "{% url 'compilation_8bit:get_file_system' %}"
        const del_dir_url = "{% url 'compilation_8bit:del_dir' %}"
        const del_file_url = "{% url 'compilation_8bit:del_file' %}"
        const add_file_url = "{% url 'compilation_8bit:add_file' %}"
        const get_compilation_standard_url = "{%  url 'compilation_8bit:get_compilation_standard' %}"
        const select_file_url = "{% url 'compilation_8bit:select_file' %}"
        const compile_url = "{% url 'compilation_8bit:compile' %}"
        const add_dir_url = "{% url 'compilation_8bit:add_dir' %}"

    </script>
    <script src =  {% static "compilation_8bit/tabs.js" %}></script>
    <script src = {% static "compilation_8bit/menu_buttons.js" %}></script>
    <script src = {% static "compilation_8bit/file_system_tree.js" %}></script>
    <script src = {% static "compilation_8bit/compile_options.js" %}></script>
    <script src = {% static "compilation_8bit/onload.js" %}></script>
    <title>Title</title>
</head>
<body>
    <div id = "main_box">
        <div id = "nav_bar" >
            <button id = "file_selection_opener" class = "toggle_button nav_bar_toggle_button">  <img alt = "open dir" src = {% static "compilation_8bit/dir_icon.png" %} >  </button>
            <button id = "file_selection_closer" class = "toggle_button nav_bar_toggle_button"> close </button>
            <button id = "menu_opener" class = "toggle_button nav_bar_toggle_button"> open menu </button>
            <button id = "menu_closer" class = "toggle_button nav_bar_toggle_button"> close </button>
            <div id = "menu" >
                <div class = "menu_item" id = "compile_button"> Compile </div>
                <div class = "menu_item" id = "add_dir_button"> Add Directory To Root </div>
                <div class = "menu_item" id = "logged_info"> Logged as: {{ user.get_username }} </div>
                <div class = "menu_item" id = "logout">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>

        </div>
        <div id = "tabs_wrapper">
            <div id = "tabs" >
                <div id = "tabs_bar" >
                    <div id = "tab_button_0" class = "tab_button"> STANDARD </div>
                    <div id = "tab_button_1" class = "tab_button"> OPTYMALIZACJE </div>
                    <div id = "tab_button_2" class = "tab_button"> PROCESOR </div>
                    <div id = "tab_button_3" class = "tab_button"> ZALEŻNE </div>
                </div>
                <form id = "compilation_form" >
                <div id = "tabs_content">
                    <div id = "tab_content_0" class = "tab_content">

                        <input type="radio" id="option_C89" name="option_compiler_standard" value="--std-c89">
                        <label for="option_C89">C89</label><br>
                        <input type="radio" id="option_C98" name="option_compiler_standard" value="--std-c99">
                        <label for="option_C98">C99</label><br>
                        <input type="radio" id="option_C11" name="option_compiler_standard" value="--std-c11">
                        <label for="option_C11">C11</label>

                    </div>
                    <div id = "tab_content_1" class = "tab_content">
                        <input type="radio" id="option_optimization_1" name="option_optimization_1" value="--opt-code-speed">
                        <label for="option_optimization_1">optimize speed</label><br>
                        <input type="radio" id="option_optimization_2" name="option_optimization_1" value="--opt-code-size">
                        <label for="option_optimization_2">optimize size</label><br>

                    </div>
                    <div id = "tab_content_2" class = "tab_content">
                        <input type="radio" id="option_base_MCS51" name="option_processor" value="MCS51">
                        <label for="option_base_MCS51">MCS51</label><br>
                        <input type="radio" id="option_base_Z80" name="option_processor" value="Z80">
                        <label for="option_base_Z80">Z80</label><br>
                        <input type="radio" id="option_base_STM8" name="option_processor" value="STM8">
                        <label for="option_base_STM8">STM8</label>
                    </div>
                    <div id = "tab_content_3" class = "tab_content">

                        <div id = "dependant_MCS51" style = "display: none;">

                            <input type="radio" id="option_MCS51_small" name="option_dependant_MCS51" value="--model-small">
                            <label for="option_MCS51_small">model-small</label><br>
                            <input type="radio" id="option_MCS51_medium" name="option_dependant_MCS51" value="--model-medium">
                            <label for="option_MCS51_medium">model-medium</label><br>
                            <input type="radio" id="option_MCS51_large" name="option_dependant_MCS51" value="--model-large">
                            <label for="option_MCS51_large">model-large</label><br>
                            <input type="radio" id="option_MCS51_huge" name="option_dependant_MCS51" value="--model-huge">
                            <label for="option_MCS51_huge">model-huge</label>

                        </div>

                        <div id = "dependant_Z80" style = "display: none;">
                            <input type="checkbox" id="option_Z80_1" name="option_dependant_Z80_1" value="--callee-saves-bc">
                            <label for="option_Z80_1">callee-saves-bc</label><br>
                            <input type="checkbox" id="option_Z80_2" name="option_dependant_Z80_2" value="--reserve-regs-iy">
                            <label for="option_Z80_2">reserve-regs-iy</label>

                        </div>

                        <div id = "dependant_STM8" style = "display: none;">
                            <input type="radio" id="option_STM8_medium" name="option_dependant_STM8" value="--model-medium">
                            <label for="option_STM8_medium">model-medium</label><br>
                            <input type="radio" id="option_STM8_large" name="option_dependant_STM8" value="--model-large">
                            <label for="option_STM8_large">model-large</label>

                        </div>

                    </div>
                </div>
                </form>
            </div>
        </div>

        <div id = "program_code" class = "has_main_style">
            {% if selected_file %}
                <pre>{{ selected_file.content }}</pre>
            {% endif %}
        </div>
        <div id = "file_selection" >

        </div>
        <div id = "code_part" class = "has_main_style"> <pre>

            </pre>
        </div>

        <!-- Buttons for mobile version -->
        <button id = "tabs_opener" class = "toggle_button tabs_toggle_button"> open tabs </button>
        <button id = "tabs_closer" class = "toggle_button tabs_toggle_button"> close </button>

    </div>

</body>
</html>